<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Noriliving Druckfreigabe</title>
        <title lang="en-GB">Noriliving Druckfreigabe</title>

        <input-field>
            <name>erlebnisweltName</name>
            <label>Erlebniswelt Name oder UUID (nach Freigabe)</label>
            <label lang="en-GB">Erlebniswelt Name or UUID (after approval)</label>
            <helpText>Name der Erlebniswelt (z.B. "df-erlebniswelt") oder die UUID aus der Admin-URL. Wird nach erfolgreicher Druckfreigabe angezeigt.</helpText>
            <helpText lang="en-GB">Name of the CMS page (e.g. "df-erlebniswelt") or the UUID from the admin URL.</helpText>
            <defaultValue></defaultValue>
        </input-field>

    </card>

</config>
