.druckfreigabe-container{
    max-width:1200px;
    margin:auto;
}

.details-container{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.item-details-wrapper{
    display:flex;
    gap:40px;
}

.image img{
    max-width:400px;
}

.second-display{
    display:flex;
    gap:20px;
}

textarea{
    width:100%;
    margin-top:20px;
}

select{
    margin-top:10px;
}

button{
    margin-top:20px;
}